<h1 class="navbar navbar-default">All Class Dates</h1>

    <% @sessions.each do |session| %>
        <p><%= session.date.strftime("%m/%d/%Y")  %>
        <%= link_to 'Edit', edit_session_path(session) %>
        <%= link_to 'X', session, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>

<br>

<%= link_to 'Add New Class Date', new_session_path %>
<br>
<%= link_to 'Back to Instructor Dashboard', instructor_path %>
