<h1 class="navbar navbar-default">All Students</h1>

    <% @students.each do |student| %>
        <p><%= student.name %>
        <%= link_to 'Edit', edit_student_path(student) %>
        <%= link_to 'X', student, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>

<br>

<%= link_to 'Add New Student', new_student_path %>
<br>
<%= link_to 'Back to Instructor Dashboard', instructor_path %>
