<div id="roster">
  <h1 class="navbar navbar-default">Friday Night Ballet Roster</h1>

  <div id="notice" class="alert alert-dismissable alert-success"><%= notice %></div>

  <% @sessions.each do |session| %>
    <h2><%= session.date.strftime("%m/%d/%Y") %></h2>
    <% session.student_sessions.each do |ss| %>
      <p><%= ss.student.name %> <%= link_to 'X', ss, method: :delete, data: { confirm: 'Are you sure you want to cancel?' } %></p>
    <% end %>
  <% end %>

  <br>

  <%= link_to 'Sign Up for a Class!', new_student_session_path, :class => "btn btn-primary btn-raised" %>

</div>
