<div id="roster">
  <h1 class="navbar navbar-default">Friday Night Ballet Roster</h1>

  <h2>How the classes work:</h2>
  <p>1.5 hours</p>
  <p>$115 - divided by number of students</p>
  <p>24 hour cancellation policy</p>

  <br>

  <div id="notice" class="alert alert-dismissable alert-success"><%= notice %></div>

  <h1>Upcoming Classes</h2>

  <%= link_to 'Sign Up!', new_student_session_path, :class => "btn btn-primary btn-raised" %>

  <br>
  <br>
  <br>

  <% @sessions.each do |session| %>
    <% if session.date >= Date.today + 7.hours%>
      <h2><%= session.date.strftime("%m/%d/%Y") %></h2>
      <% if session.student_sessions.count < 1 %>
        <p class="text-info">No one is signed up yet!</p>
      <% else %>
        <h4>Estimated Cost: <%= session.price_range %></h4>
        <%if session.student_sessions.where(:certainty => "Definite").count > 0 %>
          <h3>Definite</h3>
          <% session.student_sessions.where(:certainty => "Definite").each do |ss| %>
            <p>
              <%= ss.student.name if ss.student %>
              <%= link_to 'Edit', edit_student_session_path(ss) %>
              <%= link_to 'X', ss, method: :delete, data: { confirm: 'Are you sure you want to cancel?' } %>
            </p>
          <% end %>
        <% end %>
        <%if session.student_sessions.where(:certainty => "Maybe").count > 0 %>
          <h3>Maybe</h3>
          <% session.student_sessions.where(:certainty => "Maybe").each do |ss| %>
            <p>
              <%= ss.student.name if ss.student %>
              <%= link_to 'Edit', edit_student_session_path(ss) %>
              <%= link_to 'X', ss, method: :delete, data: { confirm: 'Are you sure you want to cancel?' } %>
            </p>
          <% end %>
        <% end %>
      <% end %>
      <hr>
    <% end %>
  <% end %>

  <br>

  <h1>Past Classes</h2>
  <% @sessions.each do |session| %>
    <% if (session.date < Date.today + 7.hours) && (session.student_sessions.count > 0) %>
      <h2><%= session.date.strftime("%m/%d/%Y") %></h2>
      <% session.student_sessions.each do |ss| %>
        <p><%= ss.student.name %></p>
      <% end %>
    <% end %>
  <% end %>

</div>
<p><%= Date.today %></p>
<p><%= Time.now%></p>
<p><%= Date.today - 7.hours %></p>
<p><%= Time.now - 7.hours %></p>
<p><%= Session.all[1].date %></p>
<p><%= (Session.all[1].date + 20.hours) >= (Time.now - 7.hours) %></p>
