<div id="roster">
  <h1 class="navbar navbar-default">Friday Night Ballet Roster</h1>

  <div id="notice" class="alert alert-dismissable alert-success"><%= notice %></div>

  <% @sessions.each do |session| %>
    <h2><%= session.date.strftime("%m/%d/%Y") %></h2>
    <% if session.student_sessions.count < 1 %>
      <p class="text-info">No one is signed up yet!</p>
    <% else %>
      <% session.student_sessions.each do |ss| %>
        <p><%= ss.student.name %> <%= link_to 'X', ss, method: :delete, data: { confirm: 'Are you sure you want to cancel?' } %></p>
      <% end %>
    <% end %>
  <% end %>

  <br>

  <%= link_to 'Sign Up!', new_student_session_path, :class => "btn btn-primary btn-raised" %>

</div>
