<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @student_session.student_id %>
</p>

<p>
  <strong>Session:</strong>
  <%= @student_session.session_id %>
</p>

<%= link_to 'Edit', edit_student_session_path(@student_session) %> |
<%= link_to 'Back', student_sessions_path %>
